<footer>
	<div class="top-footer footer-form" id="top-footer">
		<div class="background-image" style="background-image:url(images/footer-form-we-build.jpg);" data-image-type="parallax" data-stellar-ratio="0.7" ></div>
		<div class="container">
			<div class="row">
				<h1 id="top-footer-title">LET'S TALK</h1>
				<h3 id="top-footer-title-2"><span>TELL US ABOUT YOUR PROJECT IDEAS OR JUST SAY HELLO.</span></h3>
				<div role="form" class="wpcf7" id="wpcf7-f1352-o1" lang="en-US" dir="ltr">
					<div class="screen-reader-response"></div>
					<form class="wpcf7-form" id="contact" role="form">
						<!-- IF MAIL SENT SUCCESSFULLY -->
						<h6 class="success"><span class="olored-text icon_check"></span> Your message has been sent successfully. </h6>

						<!-- IF MAIL SENDING UNSUCCESSFULL -->
						<h6 class="error"><span class="colored-text icon_error-circle_alt"></span> E-mail must be valid and message must be longer than 1 character. </h6>
						<div class="transparent-theme-form with-icons">
							<div class="col-md-6">
								<span class="form-col-block"><i class="fa fa-user icon"></i><span><input class="form-control input-box" id="cf-name" type="text" name="cf-name" placeholder="Your Name"></span></span>
								<br />
								<span class="form-col-block"><i class="fa fa-envelope icon"></i><span><input class="form-control input-box" id="cf-email" type="email" name="cf-email" placeholder="Email"></span></span>
								<br />
								<span class="form-col-block"><i class="fa fa-pencil icon"></i><span><input class="form-control input-box" id="cf-subject" type="text" name="cf-subject" placeholder="Subject"></span></span>
								<span><input id="cf-submit" type="submit" value="Send Message" class="" /><i class="fa fa-paper-plane icon"></i></span>
							</div>
							<div class="col-md-6">
								<span class="form-col-block"><span class=""><textarea class="form-control textarea-box" id="cf-message" rows="4" name="cf-message" placeholder="Your Message"></textarea></span></span>
								<br />

							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row footer-contact-details">
				<div class="widget col-md-4">
					<i class="icon" style="background:url(images/icon/phone-icon.png) no-repeat center center"></i>
					<h3>+11 1122 33 445</h3>

				</div>
				<div class="widget col-md-4">
					<i class="icon" style="background:url(images/icon/envelope-icon.png) no-repeat center center"></i>
					<h3>info@themetoon.com</h3>
					<a href="mailto:info@themetoon.com"></a>
				</div>
				<div class="widget col-md-4">
					<i class="icon" style="background:url(images/icon/pin-icon.png) no-repeat center center"></i>
					<h3>Golden Age Street,<br>London, U.K., E14LS</h3>

				</div>
			</div>
		</div>
	</div>
	<div class="copyright-widgets-cont">
		<div class="widgets">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="webuild_widget widget_text">
							<div class="textwidget"><a href="images/logo/we-build-logo-transparent.png"><img class="alignnone size-full wp-image-1315" src="images/logo/we-build-logo-transparent.png" alt="we-build-logo-transparent" /></a>
								<br><br>
								Phasellus et nisl tellus. Etiam facilisis eu nisi scelerisque faucibus. Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris. Etiam facilisis eu nisi scelerisque faucibus.
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="webuild_widget webuild_widget_custom_posts">
							<div class="widget-title">
								<h4>Recent Posts</h4>
							</div>
							<div class="webuild_blog_posts_widget">
								<ul class="with-image">
									<li ><a href="#" title="Temporibus autem"><img src="images/post/10.jpg" alt="Temporibus autem" />Temporibus autem</a><span class="post-date"><i class="fa fa-clock-o"></i> July 16, 2016</span></li>
									<li ><a href="#" title="Nam libero tempore"><img src="images/post/9.jpg" alt="Nam libero tempore" />Nam libero tempore</a><span class="post-date"><i class="fa fa-clock-o"></i> July 16, 2016</span></li>
									<li ><a href="#" title="Et harum quidem"><img src="images/post/8.jpg" alt="Et harum quidem" />Et harum quidem</a><span class="post-date"><i class="fa fa-clock-o"></i> July 16, 2016</span></li>
								</ul>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="webuild_widget webuild_widget_download_btns">
							<div class="widget-title">
								<h4>Brochures</h4>
							</div>
							<div class="webuild_download_btns_widget">
								<div class="brochure-box-cont">
									<a class="brochure-box brochure-box-5684bafccafc2" target="_blank">
										<i class="fa  fa-file-pdf-o"></i>
										<h5 class="brochure-box__text brochure-box__text5684bafccafc2">Download Techinical Data</h5>
									</a>
								</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="webuild_widget webuild_widget_download_btns">
							<div class="webuild_download_btns_widget">
								<div class="brochure-box-cont">
									<a class="brochure-box brochure-box-5684bafccb1ac" target="_blank">
										<i class="fa  fa-file-word-o"></i>
										<h5 class="brochure-box__text brochure-box__text5684bafccb1ac">Download Brochure 2</h5>
									</a>
								</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="webuild_widget widget_nav_menu">
							<div class="menu-footer-menu-container">
								<ul id="menu-footer-menu" class="menu">
									<li id="menu-item-1397" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1397"><a href="about-us.html">About us</a></li>
									<li id="menu-item-1398" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1398"><a href="contact.html">Contact</a></li>
									<li id="menu-item-1399" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1399"><a href="get-a-quote.html">Get a Quote</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="webuild_widget widget_tp_widget_recent_tweets">
							<div class="widget-title">
								<h4>Recent Tweets</h4>
							</div>
							<div class="tp_recent_tweets">
								<ul>
									<li><span>Ho ho ho! <a href="#" target="_blank">https://t.co/#</a></span><br /><a class="twitter_time" target="_blank" href="#">12 days ago</a></li>
									<li><span>Version 2.0 is here!
                                       - 14 New home pages
                                       - Over 50 Shortcodes <a href="#" target="_blank">https://t.co/#</a></span><br /><a class="twitter_time" target="_blank" href="#">28 days ago</a>
									</li>
									<li><span>Today we have unlocked the Author Level 5 badge.
                                       We have sold over ,000 on Envato Market. Thank you again to... <a href="#" target="_blank">https://t.co/#</a></span><br /><a class="twitter_time" target="_blank" href="#">48 days ago</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bott-footer copyright">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-5">
						<p class="copyright-text">Copyright @ 2016 We Build. HTML Templete designed with <i class="fa fa-heart-o" style="color: #e74c3c"></i> by <a href="http://themetoon.com" target="_blank">themetoon</a></p>
					</div>
					<div class="col-xs-12 col-md-7">
						<ul class="footer-socials">
							<li>
								<a href="#"
								   target="_blank" >
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#"
								   target="_blank" >
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#"
								   target="_blank" >
									<i class="fa fa-youtube"></i>
								</a>
							</li>
							<li>
								<a href="#"
								   target="_blank" >
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li>
								<a
										target="_blank" >
									<i class="fa fa-skype"></i>
								</a>
							</li>
							<li>
								<a href="mailto:you@yourwebsite.com"
								   target="_blank" >
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>