
<footer>
	<div class="top-footer footer-form" id="top-footer">
		<div class="background-image" style="background-image:url(img/bg-1.jpg);" data-image-type="parallax" data-stellar-ratio="0.7" ></div>
		<div class="container">

			<div class="row footer-contact-details">
				<div class="widget col-md-4">
					<i class="icon" style="background:url(images/icon/phone-icon.png) no-repeat center center"></i>
					<h3>+11 1122 33 445</h3>

				</div>
				<div class="widget col-md-4">

				</div>
				<div class="widget col-md-4">
					<i class="icon" style="background:url(images/icon/pin-icon.png) no-repeat center center"></i>
					<h3>Golden Age Street,<br>London, U.K., E14LS</h3>

				</div>
			</div>
		</div>
	</div>

 
</footer>