
<footer>
	<div class="top-footer footer-form" id="top-footer">
		<div class="background-image" style="background-image:url('/img/bg-1.jpg');" data-image-type="parallax" data-stellar-ratio="0.7" ></div>

	</div>

 
</footer>