<div class="search-box">
	<a href="#" class="close-box fa fa-plus"></a>
	<div class="form-holder">
		<form method="get" action="#">
			<input type="text" class="form-control" name="s" id="search-field" placeholder="Поиск по сайту">
			<input type="hidden" name="post_type" value="post"/>
		</form>
	</div>
</div>
<header id="masthead" class=" site-header style-2 header-v1">
	<nav id="top-bar" class="navbar navbar-default">
		<div class="container">
			<div class="pull-left">
				<div class="contact-info">
					<ul class="nav navbar-nav">
						<li>
							<a href="tel:+375291390500"><i
									class="fa fa-phone"></i> +375 29 1390500</a>
						</li>
						<li>
							<a href="tel:+375291999339"><i
									class="fa fa-phone"></i> +375 29 1999339</a>
						</li>
						<li>
							<a href="tel:80177730861">факс  &nbsp;&nbsp;<i class="fa fa-fax"></i> 8 0177 730861 </a>
						</li>
					</ul>
				</div>
			</div>
			<div class="pull-right">
				<ul class="nav navbar-nav social-btns">
					<!--
					<li>
						<a href=""
						   target="_blank" >
							<i class="fa fa-skype"></i>
						</a>
					</li>
					-->

					<li>
						<a href="mailto:stroykrepost@mail.ru" target="_blank">
							<i class="fa fa-envelope-o"></i> stroykrepost@mail.ru
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>
	<nav id="top-menu" class="navbar hidden-mobile">
		<div class="container">
			<div class="header-top">
				<div class="pull-left">
					<div class="logo"><a href="/"><img src="/img/logo-dark.png" alt="We Build" class="normal" /></a></div>
				</div>

				<div class="pull-right v-align">
					<span class="open-search sb-icon-search"></span>
				</div>
				<!-- Nav -->
				<div class="pull-right">
					<div class="primary-menu">
						<div class="menu-class navbar-left">
							<ul class="main-navigation sf-menu nav navbar-nav menu">
								<li {{#if active.home}}class="menu-item current-menu-item"{{/if}}><a href="/" class="pro-link  pro-link-depth-0 pro-sticky-item "><i class="pro-in im im-home6"></i>Главная</a></li>
								<li class="{{#if active.prod}}menu-item current-menu-item{{/if}} navsk"><a href="/prod" class=" pro-link pro-link-depth-0 pro-sticky-item">Продукция</a></li>


								<li {{#if active.photos}}class="menu-item current-menu-item"{{/if}}><a href="/photos" class=" pro-link pro-link-depth-0 pro-sticky-item">Фотоархив</a></li>
								<li {{#if active.contacts}}class="menu-item current-menu-item"{{/if}}><a href="/contacts" class=" pro-link pro-link-depth-0 pro-sticky-item">Контакты</a></li>

							</ul>
						</div>
					</div>
				</div>
				<!-- /Nav -->
			</div>
		</div>
	</nav>
</header>
<!-- #masthead -->
<nav class="navbar mobile-menu-cont hidden-desktop">
	<div class="mobile-header-top">
		<div class="pull-left">
			<div class="logo"><a href="/"><img src="/img/logo-white.png" alt="We Build" class="normal" /></a></div>
		</div>
		<div class="pull-right compact-triggers-container"><a href="javascript:void(0)" class="menu-compact-btn-toggle menu-open" id="accordion-menu-toggle-open"><i class="fa fa-bars"></i></a>
			<a href="javascript:void(0)" class="menu-compact-btn-toggle menu-close" id="accordion-menu-toggle-close"><i class="fa fa-times"></i></a>
		</div>
		<div class="clearfix"></div>
		<div class="primary-menu">
			<div id="mobile-menu"
				 class="navbar-left  accordion-menu">
				<ul class="menu">
					<li><a href="/">Главная</a></li>
					<li class="navsk"><a href="/prod">Продукция</a></li>


					<li><a href="/photos">Фотоархив</a></li>
					<li><a href="/contacts">Контакты</a></li>
				</ul>
				<div class="clearfix"></div>
				<div class="mobile-search">
					<form id="searchform" class="search" method="get" action="#">
						<input type="text" name="s" placeholder="Поиск по сайту">
						<button type="submit" class="fa fa-search"></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</nav>
<div id="header-sticky" class="sticky-header style-2 header-v1 hidden-mobile">
	<nav class="navbar">
		<div class="container">
			<div class="header-top">
				<div class="pull-left">
					<div class="logo"><a href="/"><img src="/img/logo-dark.png" alt="СтройКрепость ОДО" class="normal" /></a></div>
				</div>

				<div class="pull-right v-align">
					<span class="open-search sb-icon-search"></span>
				</div>
				<div class="pull-right">
					<div class="primary-menu">
						<div class="menu-class navbar-nav navbar-left">
							<ul id="menu-main-menu-2" class="main-navigation sf-menu nav navbar-nav menu">

								<li><a href="/" class=" pro-sticky-item">Главная</a></li>
								<li class="navsk"><a href="/prod" class=" pro-sticky-item">Продукция</a></li>


								<li><a href="/photos" class=" pro-sticky-item">Фотоархив</a></li>
								<li><a href="/contacts" class=" pro-sticky-item">Контакты</a></li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>