<footer>

	<div class="copyright-widgets-cont">

		<div class="bott-footer copyright">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-5">
						<p class="copyright-text">СтройКрепость @ <script> document.write(new Date().getFullYear())</script></p>
					</div>
					<div class="col-xs-12 col-md-7">
						<ul class="footer-socials">
							<!--
							<li>
								<a href="#" target="_blank">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li>
								<a target="_blank">
									<i class="fa fa-skype"></i>
								</a>
							</li>
							-->
							<li>
								<a href="mailto:stroykrepost@mail.ru" target="_blank">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</footer>