<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_title}}">

	{{>head}}

</head>


<body class="page page-id-2610 page-template-default  sticky-header no-tablet-top-bar no-mobile-top-bar wpb-js-composer js-comp-ver-4.8.1 vc_responsive">

	<div id="page" class="hfeed site">
		{{>header}}

		{{{body}}}

		{{>inner-footer}}
	</div>

</body>


{{>scripts}}

</html>
