<div id="content-wrapper" class="site-content">
	<div class="container cont-padding">
		<div class="row">
			<div class="col-md-12">
				<article id="post-404" class="post-not-found pro-error-404">
					<div class="entry-content text-center">
						<div class="pro-404-image">
							<img src="img/logo-dark.png" alt="404">
						</div>
						<p class="lead">Страница не найдена</p>

						<p>Попробуйте зайти позже.</p>
						<hr/>

					</div>
					<!-- /entry-content -->
				</article>
				<!-- /article -->
			</div>
		</div>
	</div>
</div>
<!-- #content -->