<div id="content-wrapper" class="site-content">
	<div class="container cont-padding">
		<div class="row">
			<div class="col-md-12">
				<article id="post-404" class="post-not-found pro-error-404">
					<div class="entry-content text-center">
						<div class="pro-404-image">
							<img src="images/404_default.png" alt="404">
						</div>
						<h2 class="pro-not-found">NOT FOUND!</h2>
						<hr/>
						<p>It looks like nothing was found at this location. Maybe try a search?</p>
						<div class="pro-search-form">
							<form action="#" method="get">
								<input type="text" placeholder="Search" name="s" class="pro-search"/>
								<button type="submit" class="fa fa-search"></button>
							</form>
						</div>
						<hr/>
						<a href="index7.html"
						   class="pro-btn pro-btn-flat pro-btn-rounded pro-btn-xs pro-btn-flat-accent pro-btn-007">Return Back</a>
					</div>
					<!-- /entry-content -->
				</article>
				<!-- /article -->
			</div>
		</div>
	</div>
</div>
<!-- #content -->