<!-- Page Content -->
<div id="page-content-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Меню</a>

				<br>
				<br>
				<br>
				<p class="lead">Статистика сайта:</p>
				<p>Фотографий: <b id="photo">0</b></p>
				<p>Страниц: <b id="pages">0</b></p>


			</div>
		</div>
	</div>
</div>
<!-- /#page-content-wrapper -->


<script>

	$(function(){

		$.ajax({
			type: 'GET',
			url: '/api/photos-total',
			dataType: 'json'
		}).success( function(data) {
			$('#photo').html(data)
		});



		$.ajax({
			type: 'GET',
			url: '/api/pages-total',
			dataType: 'json'
		}).success( function(data) {
			$('#pages').html(data)
		});




	});

</script>