<div id="content-wrapper" class="site-content">
	<div class="page-title-cont container-fluid" data-effect="parallax">
		<div class="row">
			<div class="page-header">
				<div class="background-image" style="background-color:#d7d7d7;background-repeat:repeat;background-size:cover;background-position:center center;background-image:url('img/bg-1.jpg');"></div>
				<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-12 display-table">
							<div class="title-wrapper">
								<h1>
									{{meta_title}}
								</h1>
								<span>
									Пожалуйста, заполните форму ниже и мы с удовольствием ответим на ваши вопросы.
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-content">
					<div class="vc_row wpb_row vc_row-fluid vc_custom_1429600153700">
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-5691460e0e0e6" data-id="5691460e0e0e6" data-height="90" data-height-mobile="20" data-height-tab="60" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-8">
							<div class="wpb_wrapper">
								<div id="ultimate-heading-73935691460e0eafe" class="uvc-heading ultimate-heading-73935691460e0eafe uvc-759 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
									<div class="uvc-main-heading ult-responsive uvc-main-heading-258" data-ultimate-target=".uvc-heading.ultimate-heading-73935691460e0eafe h2" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:28px;&quot;,&quot;line-height&quot;:&quot;desktop:35px;&quot;}">
										<h2>Форма для связи</h2>
									</div>
									<div class="uvc-heading-spacer no_spacer" ></div>
									<div class="uvc-sub-heading ult-responsive uvc-sub-heading-255" data-ultimate-target=".uvc-heading.ultimate-heading-73935691460e0eafe .uvc-sub-heading " data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:16px;&quot;,&quot;line-height&quot;:&quot;desktop:24px;&quot;}">
										<br>

									</div>
								</div>
								<div role="form" class="wpcf7" id="wpcf7-f182-p19-o1" lang="en-US" dir="ltr">
									<div class="screen-reader-response"></div>
									<form  class="wpcf7-form" novalidate="novalidate">

										<div class="row">
											<p class="col-md-6">
												<input type="text" name="name" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Имя *">
											</p>
											<p class="col-md-6">
												<input type="text" name="email" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Email адрес *">
											</p>
										</div>
										<div class="row">
											<p class="col-md-12">
												<input type="text" name="subject" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Тема сообщения ">
											</p>
										</div>
										<div class="row">
											<p class="col-md-12">
												<textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Текст *"></textarea>
											</p>
										</div>
										<div class="row">

											<p class="col-md-6"><input type="submit" value="Отправить"  ></p>
										</div>

									</form>
								</div>
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-4"  >
							<h4 style="    margin-top: 55px;">Телефоны</h4>

							<p class="lead">+375 29 139-05-00</p>
							<p class="lead">+375 29 199-93-39</p>
							<p></p>
							<h4>Тел.\факс</h4>
							<p class="lead">8 0177 73-08-61</p>
							<h4>Адрес</h4>
							<p>

								222518, Республика Беларусь,<br>
								г.Борисов, ул.Демина, 5-11
							</p>
							<h4>E-mail</h4>
							<p> stroykrepost@mail.ru</p>


						</div>
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-5691460e13ada" data-id="5691460e13ada" data-height="90" data-height-mobile="20" data-height-tab="60" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width"></div>

				</div>
			</div>
		</div>
	</div>
</div>