<div id="content-wrapper" class="site-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-content">
					<div class="vc_row wpb_row vc_row-fluid" >
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-56875e9707593" data-id="56875e9707593" data-height="60" data-height-mobile="60" data-height-tab="60" data-height-tab-portrait="60" data-height-mobile-landscape="60"></div>
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-8">
							<div class="wpb_wrapper">
								<div class="wpb_revslider_element wpb_content_element">
									<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
									<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
									<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
									<div id="rev_slider_8_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;">
										<!-- START REVOLUTION SLIDER 5.1.4 fullwidth mode -->
										<div id="rev_slider_8_1" class="rev_slider fullwidthabanner tp-overflow-hidden" style="display:none;" data-version="5.1.4">
											<ul>
												<!-- SLIDE  -->
												<li data-index="rs-14" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
													<!-- MAIN IMAGE -->
													<img src="img/slider/1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
													<!-- LAYERS -->
												</li>
												<!-- SLIDE  -->
												<li data-index="rs-10" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-thumb="images/slider/5-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
													<!-- MAIN IMAGE -->
													<img src="img/slider/2.jpg"  alt=""   data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
													<!-- LAYERS -->
												</li>
												<!-- SLIDE  -->
												<li data-index="rs-11" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
													<!-- MAIN IMAGE -->
													<img src="img/slider/3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
													<!-- LAYERS -->
												</li>
												<!-- SLIDE  -->
												<li data-index="rs-13" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
													<!-- MAIN IMAGE -->
													<img src="img/slider/4.jpg"  alt=""   data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
													<!-- LAYERS -->
												</li>
												<!-- SLIDE  -->
												<li data-index="rs-13" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default"   data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
													<!-- MAIN IMAGE -->
													<img src="img/slider/5.jpg"  alt=""   data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
													<!-- LAYERS -->
												</li>
												<!-- SLIDE  -->
												<li data-index="rs-13" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default"   data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
													<!-- MAIN IMAGE -->
													<img src="img/slider/6.jpg"  alt=""   data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
													<!-- LAYERS -->
												</li>
											</ul>
											<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
										</div>
									</div>
									<!-- END REVOLUTION SLIDER -->
								</div>
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-4">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-56875e971f155" data-id="56875e971f155" data-height="0" data-height-mobile="60" data-height-tab="" data-height-tab-portrait="" data-height-mobile-landscape="60"></div>
								<div role="form" class="wpcf7" id="wpcf7-f523-p2610-o1" lang="en-US" dir="ltr">
									<div class="screen-reader-response"></div>
									<form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
										<div style="display: none;">
											<input type="hidden" name="_wpcf7" value="523" />
											<input type="hidden" name="_wpcf7_version" value="4.3.1" />
											<input type="hidden" name="_wpcf7_locale" value="en_US" />
											<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f523-p2610-o1" />
											<input type="hidden" name="_wpnonce" value="00bd6c3884" />
										</div>
										<div class="wpwalt-form-theme dark-version">
											<div class="wpwalt-form with-icons">
												<div class="title-form col-md-12" >Обратная связь</div>
												<div class="col-md-12">
													<span class="form-col-block"><i class="fa fa-user icon"></i><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваше Имя Фамилия" /></span></span><br />
													<span class="form-col-block"><i class="fa fa-envelope icon"></i><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email адрес" /></span></span><br />
													<span class="form-col-block"><i class="fa fa-phone icon"></i><span class="wpcf7-form-control-wrap phone"><input type="text" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Телефон" /></span></span>
													<div class="container-fluid"></div>
												</div>
												<div class="col-md-12">
													<span class="form-col-block"><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Текст сообщения"></textarea></span></span><br />
													<span class="form-col-block send-btn"><input type="submit" value="Отправить" class="wpcf7-form-control wpcf7-submit" /></span>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="wpcf7-response-output wpcf7-display-none"></div>
									</form>
								</div>
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-56875e9720a60" data-id="56875e9720a60" data-height="60" data-height-mobile="60" data-height-tab="60" data-height-tab-portrait="60" data-height-mobile-landscape="60"></div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width"></div>
					<!-- Row Backgrounds -->
					<div class="upb_color" data-bg-override="full" data-bg-color="#f5f5f5" data-fadeout="" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false"  data-custom-vc-row=""  data-vc="4.8.1"  data-theme-support=""   data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size=""    ></div>
					<div class="vc_row wpb_row vc_row-fluid" >
						<div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-sm vc_hidden-xs">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-5684bafc894b5" id="spacer-5684bafc894b5" data-id="5684bafc894b5" data-height="60" data-height-mobile="30" data-height-tab="50" data-height-tab-portrait="50" data-height-mobile-landscape="30"></div>
								<div id="ultimate-heading-20095684bafc89579" class="uvc-heading ultimate-heading-20095684bafc89579 uvc-9248 " data-hspacer="no_spacer"  data-halign="center" style="text-align:center">
									<div class="uvc-heading-spacer no_spacer"></div>
									<div class="uvc-main-heading ult-responsive" id="uvc-main-heading-1"  data-ultimate-target='.uvc-heading.ultimate-heading-20095684bafc89579 h2'  data-responsive-json-new='{"font-size":"desktop:18px;","line-height":"desktop:24px;"}' >
										<h2>БОЛЕЕ 10 ЛЕТ УСПЕШНОЙ РАБОТЫ</h2>
									</div>
									<div class="uvc-sub-heading ult-responsive" id="uvc-sub-heading"  data-ultimate-target='.uvc-heading.ultimate-heading-20095684bafc89579 .uvc-sub-heading '  data-responsive-json-new='{"font-size":"","line-height":""}'><br /></div>
								</div>
								<div class="uvc-type-wrap type-header uvc-type-align-center  uvc-wrap-14476637225684bafc8963b" id="uvc-type-wrap">
									<span class="ultimate-typewriter-prefix"><strong>МЫ</strong> СТРОИМ </span><span id="typed-14476637225684bafc8963b" class="ultimate-typed-main "></span>
								</div>
								<div class="ult-spacer spacer-5684bafc89723" data-id="5684bafc89723" data-height="60" data-height-mobile="30" data-height-tab="50" data-height-tab-portrait="50" data-height-mobile-landscape="30"></div>
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-3">
							<div class="wpb_wrapper">
								<div class="aio-icon-component   style_2">
									<div class="aio-icon-box top-icon">
										<div class="aio-icon-top">
											<div class="ult-just-icon-wrapper ">
												<div class="align-icon" style="text-align:center;">
													<div class="aio-icon circle " id="aio-icon-004">
														<i class="WeBuild-Related-drawing8"></i>
													</div>
												</div>
											</div>
										</div>
										<div class="aio-icon-header">
											<h3 class="aio-icon-title">Полный цикл</h3>
										</div>
										<!-- header -->
										<div class="aio-icon-description" style="font-weight:normal;font-style:normal;font-size:14px;line-height:24px;color:#a1b1bc;">Проектирование и производство.</div>
										<!-- description -->
									</div>
									<!-- aio-icon-box -->
								</div>
								<!-- aio-icon-component -->
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-3">
							<div class="wpb_wrapper">
								<div class="aio-icon-component   style_2">
									<div class="aio-icon-box top-icon">
										<div class="aio-icon-top">
											<div class="ult-just-icon-wrapper ">
												<div class="align-icon" style="text-align:center;">
													<div class="aio-icon circle " id="aio-icon-001">
														<i class="icomoon-WeBuild-clock2"></i>
													</div>
												</div>
											</div>
										</div>
										<div class="aio-icon-header">
											<h3 class="aio-icon-title">Всегда вовремя</h3>
										</div>
										<!-- header -->
										<div class="aio-icon-description" style="font-weight:normal;font-style:normal;font-size:14px;line-height:24px;color:#a1b1bc;">Мы ценим время наших клиентов и наше время.</div>
										<!-- description -->
									</div>
									<!-- aio-icon-box -->
								</div>
								<!-- aio-icon-component -->
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-3">
							<div class="wpb_wrapper">
								<div class="aio-icon-component   style_2">
									<div class="aio-icon-box top-icon">
										<div class="aio-icon-top">
											<div class="ult-just-icon-wrapper ">
												<div class="align-icon" style="text-align:center;">
													<div class="aio-icon circle " id="aio-icon-002">
														<i class="WeBuild-Related-architecture"></i>
													</div>
												</div>
											</div>
										</div>
										<div class="aio-icon-header">
											<h3 class="aio-icon-title">Только качество</h3>
										</div>
										<!-- header -->
										<div class="aio-icon-description" style="font-weight:normal;font-style:normal;font-size:14px;line-height:24px;color:#a1b1bc;">Высокий уровень профессионализма -  гарантия качества.</div>
										<!-- description -->
									</div>
									<!-- aio-icon-box -->
								</div>
								<!-- aio-icon-component -->
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-3">
							<div class="wpb_wrapper">
								<div class="aio-icon-component   style_2">
									<div class="aio-icon-box top-icon">
										<div class="aio-icon-top">
											<div class="ult-just-icon-wrapper ">
												<div class="align-icon" style="text-align:center;">
													<div class="aio-icon circle " id="aio-icon-003">
														<i class="icomoon-WeBuild-chat"></i>
													</div>
												</div>
											</div>
										</div>
										<div class="aio-icon-header">
											<h3 class="aio-icon-title">Открыты для предложений</h3>
										</div>
										<!-- header -->
										<div class="aio-icon-description" style="font-weight:normal;font-style:normal;font-size:14px;line-height:24px;color:#a1b1bc;">Как производители мы всегда открыты для дилерских и партнерских отношений.</div>
										<!-- description -->
									</div>
									<!-- aio-icon-box -->
								</div>
								<!-- aio-icon-component -->
							</div>
						</div>

					</div>
					<div class="vc_row-full-width"></div>
					<div class="vc_row wpb_row vc_row-fluid vc_custom_1432041013597" >
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-5684bafc8d1fe" data-id="5684bafc8d1fe" data-height="60" data-height-mobile="40" data-height-tab="60" data-height-tab-portrait="50" data-height-mobile-landscape="50"></div>
								<div id="ultimate-heading-44195684bafc8d611" class="uvc-heading ultimate-heading-44195684bafc8d611 uvc-1728 " data-hspacer="line_with_icon" data-hline_width="100" data-hicon_type="selector" data-hborder_style="solid" data-hborder_height="1" data-hborder_color="#5d6e7b" data-icon_width="24" data-hfixer="10"  data-halign="center" style="text-align:center">
									<div class="uvc-main-heading ult-responsive" id="uvc-main-heading-2" data-ultimate-target='.uvc-heading.ultimate-heading-44195684bafc8d611 h2'  data-responsive-json-new='{"font-size":"desktop:30px;","line-height":"desktop:35px;"}' >
										<h2>НОВОСТИ КОМПАНИИ</h2>
									</div>
									<div class="uvc-heading-spacer line_with_icon" id="uvc-heading-spacer-1">
										<div class="ult-just-icon-wrapper ">
											<div class="align-icon text-center">
												<div class="aio-icon none a-aio-icon">
													<i class="logo-icon"></i>
												</div>
											</div>
										</div>
									</div>

								</div>
								<div class="ult-spacer spacer-5684bafc8d6ad" data-id="5684bafc8d6ad" data-height="80" data-height-mobile="" data-height-tab="60" data-height-tab-portrait="" data-height-mobile-landscape="40"></div>
								<div class="vc_row wpb_row vc_inner vc_row-fluid">
									<div class="wpb_column vc_column_container vc_col-sm-4">
										<div class="wpb_wrapper">
											<div class="ult-new-ib ult-ib-effect-style2 ult-ib-resp a-ult-ib-resp" data-min-width="768" data-max-width="900" data-opacity="0.9" data-hover-opacity="0.2" >
												<img class="ult-new-ib-img" alt="" src="images/services/services-3.jpg"   />
												<div class="ult-new-ib-desc">
													<div class="ult-new-ib-title"></div>
													<div class="ult-new-ib-content">
														<p></p>
													</div>
												</div>
												<a class="ult-new-ib-link" ></a>
											</div>
											<div id="ultimate-heading-80015684bafc8f178" class="uvc-heading ultimate-heading-80015684bafc8f178 uvc-6177 " data-hspacer="no_spacer"  data-halign="left" style="text-align:left">
												<div class="uvc-heading-spacer no_spacer"></div>
												<div class="uvc-main-heading ult-responsive" id="uvc-main-heading-6" data-ultimate-target='.uvc-heading.ultimate-heading-80015684bafc8f178 h2'  data-responsive-json-new='{"font-size":"desktop:18px;","line-height":"desktop:30px;"}' >
													<h2>Направления развития компании</h2>
												</div>
												<div class="uvc-sub-heading ult-responsive a-uvc-sub-heading"  data-ultimate-target='.uvc-heading.ultimate-heading-80015684bafc8f178 .uvc-sub-heading '  data-responsive-json-new='{"font-size":"desktop:14px;","line-height":"desktop:24px;"}'>
													<p>Главное направление деятельности нашей компании − изготовление и продажа строительных бытовок.</p>

												</div>
											</div>
											<button type="button" class="ubtn ubtn-normal ubtn-no-hover-bg  none  ubtn-left   tooltip-5684bafc8f270"  data-hover="#2c3e50" data-border-color="#ffffff" data-bg="rgba(224,224,224,0.01)" data-hover-bg="#ffffff" data-border-hover="#ffffff" data-shadow-hover="" data-shadow-click="none" data-shadow="" data-shd-shadow=""><span class="ubtn-hover"></span><span class="ubtn-data ubtn-text">Подробнее</span></button>
											<div class="ult-spacer spacer-5684bafc8f2fe" data-id="5684bafc8f2fe" data-height="" data-height-mobile="25" data-height-tab="" data-height-tab-portrait="25" data-height-mobile-landscape="25"></div>
										</div>
									</div>
									<div class="wpb_column vc_column_container vc_col-sm-4">
										<div class="wpb_wrapper">
											<div class="ult-new-ib ult-ib-effect-style2 ult-ib-resp a-ult-ib-resp" data-min-width="768" data-max-width="900" data-opacity="0.9" data-hover-opacity="0.2" >
												<img class="ult-new-ib-img" alt="" src="images/services/services-2.jpg"   />
												<div class="ult-new-ib-desc">
													<div class="ult-new-ib-title"></div>
													<div class="ult-new-ib-content">
														<p></p>
													</div>
												</div>
												<a class="ult-new-ib-link" ></a>
											</div>
											<div id="ultimate-heading-39205684bafc8fffd" class="uvc-heading ultimate-heading-39205684bafc8fffd uvc-9587 " data-hspacer="no_spacer"  data-halign="left" style="text-align:left">
												<div class="uvc-heading-spacer no_spacer" ></div>
												<div class="uvc-main-heading ult-responsive" id="uvc-main-heading-9" data-ultimate-target='.uvc-heading.ultimate-heading-39205684bafc8fffd h2'  data-responsive-json-new='{"font-size":"desktop:18px;","line-height":"desktop:30px;"}' >
													<h2>Все о бытовках</h2>
												</div>
												<div class="uvc-sub-heading ult-responsive a-uvc-sub-heading"  data-ultimate-target='.uvc-heading.ultimate-heading-39205684bafc8fffd .uvc-sub-heading '  data-responsive-json-new='{"font-size":"desktop:14px;","line-height":"desktop:24px;"}'><p>Почти на всех дачных участках сегодня можно увидеть дачные бытовки, которые служат для хранения нужных вещей или других бытовых целей.</p></div>
											</div>
											<button type="button" class="ubtn ubtn-normal ubtn-no-hover-bg  none  ubtn-left   tooltip-5684bafc8f270"  data-hover="#2c3e50" data-border-color="#ffffff" data-bg="rgba(224,224,224,0.01)" data-hover-bg="#ffffff" data-border-hover="#ffffff" data-shadow-hover="" data-shadow-click="none" data-shadow="" data-shd-shadow=""><span class="ubtn-hover"></span><span class="ubtn-data ubtn-text">Подробнее</span></button>
											<div class="ult-spacer spacer-5684bafc9017d" data-id="5684bafc9017d" data-height="" data-height-mobile="25" data-height-tab="" data-height-tab-portrait="25" data-height-mobile-landscape="25"></div>
										</div>
									</div>
									<div class="wpb_column vc_column_container vc_col-sm-4">
										<div class="wpb_wrapper">
											<div class="ult-new-ib ult-ib-effect-style2 ult-ib-resp a-ult-ib-resp" data-min-width="768" data-max-width="900" data-opacity="0.9" data-hover-opacity="0.2" >
												<img class="ult-new-ib-img" alt="" src="images/services/services1.jpg"   />
												<div class="ult-new-ib-desc">
													<div class="ult-new-ib-title"></div>
													<div class="ult-new-ib-content">
														<p></p>
													</div>
												</div>
												<a class="ult-new-ib-link" ></a>
											</div>
											<div id="ultimate-heading-85435684bafc91d35" class="uvc-heading ultimate-heading-85435684bafc91d35 uvc-2043 " data-hspacer="no_spacer"  data-halign="left" style="text-align:left">
												<div class="uvc-heading-spacer no_spacer" ></div>
												<div class="uvc-main-heading ult-responsive" id="uvc-main-heading-10" data-ultimate-target='.uvc-heading.ultimate-heading-85435684bafc91d35 h2'  data-responsive-json-new='{"font-size":"desktop:18px;","line-height":"desktop:30px;"}' >
													<h2>Проектирование</h2>
												</div>
												<div class="uvc-sub-heading ult-responsive a-uvc-sub-heading" id="uvc-sub-heading-15" data-ultimate-target='.uvc-heading.ultimate-heading-85435684bafc91d35 .uvc-sub-heading '  data-responsive-json-new='{"font-size":"desktop:14px;","line-height":"desktop:24px;"}'><p>Изготовление бытовок подразумевает производство металлического каркаса, сборных панелей, а также надежной крыши.</p></div>
											</div>
											<button type="button" class="ubtn ubtn-normal ubtn-no-hover-bg  none  ubtn-left   tooltip-5684bafc8f270"  data-hover="#2c3e50" data-border-color="#ffffff" data-bg="rgba(224,224,224,0.01)" data-hover-bg="#ffffff" data-border-hover="#ffffff" data-shadow-hover="" data-shadow-click="none" data-shadow="" data-shd-shadow=""><span class="ubtn-hover"></span><span class="ubtn-data ubtn-text">Подробнее</span></button>
										</div>
									</div>
								</div>
								<div class="ult-spacer spacer-5684bafc91fbc" data-id="5684bafc91fbc" data-height="60" data-height-mobile="40" data-height-tab="60" data-height-tab-portrait="50" data-height-mobile-landscape="50"></div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width"></div>
					<!-- Row Backgrounds -->
					<div class="upb_bg_img" data-ultimate-bg="url(img/bg-1.jpg)" data-ultimate-bg-style="vcpb-default" data-bg-img-repeat="repeat" data-bg-img-size="cover" data-bg-img-position="" data-parallx_sense="30" data-bg-override="full" data-bg_img_attach="scroll" data-upb-overlay-color="rgba(0,0,0,0.75)" data-upb-bg-animation="" data-fadeout="" data-bg-animation="left-animation" data-bg-animation-type="h" data-animation-repeat="repeat" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false"  data-custom-vc-row=""  data-vc="4.8.1"  data-theme-support=""   data-overlay="true" data-overlay-color="rgba(0,0,0,0.75)" data-overlay-pattern="" data-overlay-pattern-opacity="0.8" data-overlay-pattern-size="" data-overlay-pattern-attachment="scroll"    data-seperator="true"  data-seperator-type="xlarge_triangle_left_seperator"  data-seperator-shape-size="40"  data-seperator-svg-height="200"  data-seperator-full-width="true" data-seperator-position="top_seperator"  data-seperator-background-color="#fff"  data-icon=""  ></div>

					<div class="vc_row-full-width"></div>
					<!-- Row Backgrounds -->

				</div>
			</div>
		</div>
	</div>
</div>



