<div id="content-wrapper" class="site-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-content">
					<div class="vc_row wpb_row vc_row-fluid" >
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-56875e9707593" data-id="56875e9707593" data-height="60" data-height-mobile="60" data-height-tab="60" data-height-tab-portrait="60" data-height-mobile-landscape="60"></div>
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-8">
							<div class="wpb_wrapper">
								<div class="wpb_revslider_element wpb_content_element">
									<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
									<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
									<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
									<div id="rev_slider_8_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;">
										<!-- START REVOLUTION SLIDER 5.1.4 fullwidth mode -->
										<div id="rev_slider_8_1" class="rev_slider fullwidthabanner tp-overflow-hidden" style="display:none;" data-version="5.1.4">
											<ul>
												<!-- SLIDE  -->
												<li data-index="rs-14" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-thumb="images/slider/we-build5-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
													<!-- MAIN IMAGE -->
													<img src="images/slider/we-build5.jpg"  alt=""  width="1200" height="900" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
													<!-- LAYERS -->
												</li>
												<!-- SLIDE  -->
												<li data-index="rs-10" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-thumb="images/slider/5-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
													<!-- MAIN IMAGE -->
													<img src="images/slider/5.jpg"  alt=""  width="1600" height="1075" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
													<!-- LAYERS -->
												</li>
												<!-- SLIDE  -->
												<li data-index="rs-11" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-thumb="images/slider/slider2-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
													<!-- MAIN IMAGE -->
													<img src="images/slider/slider2.jpg"  alt=""  width="2500" height="1239" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
													<!-- LAYERS -->
												</li>
												<!-- SLIDE  -->
												<li data-index="rs-13" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-thumb="images/slider/we-build4-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
													<!-- MAIN IMAGE -->
													<img src="images/slider/we-build4.jpg"  alt=""  width="1200" height="900" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
													<!-- LAYERS -->
												</li>
											</ul>
											<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
										</div>
									</div>
									<!-- END REVOLUTION SLIDER -->
								</div>
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-4">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-56875e971f155" data-id="56875e971f155" data-height="0" data-height-mobile="60" data-height-tab="" data-height-tab-portrait="" data-height-mobile-landscape="60"></div>
								<div role="form" class="wpcf7" id="wpcf7-f523-p2610-o1" lang="en-US" dir="ltr">
									<div class="screen-reader-response"></div>
									<form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
										<div style="display: none;">
											<input type="hidden" name="_wpcf7" value="523" />
											<input type="hidden" name="_wpcf7_version" value="4.3.1" />
											<input type="hidden" name="_wpcf7_locale" value="en_US" />
											<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f523-p2610-o1" />
											<input type="hidden" name="_wpnonce" value="00bd6c3884" />
										</div>
										<div class="wpwalt-form-theme dark-version">
											<div class="wpwalt-form with-icons">
												<div class="title-form col-md-12" >Письмо директору</div>
												<div class="col-md-12">
													<span class="form-col-block"><i class="fa fa-user icon"></i><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваше Имя Фамилия" /></span></span><br />
													<span class="form-col-block"><i class="fa fa-envelope icon"></i><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email адрес" /></span></span><br />
													<span class="form-col-block"><i class="fa fa-phone icon"></i><span class="wpcf7-form-control-wrap phone"><input type="text" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Телефон" /></span></span>
													<div class="container-fluid"></div>
												</div>
												<div class="col-md-12">
													<span class="form-col-block"><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Текст письма"></textarea></span></span><br />
													<span class="form-col-block send-btn"><input type="submit" value="Отправить" class="wpcf7-form-control wpcf7-submit" /></span>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="wpcf7-response-output wpcf7-display-none"></div>
									</form>
								</div>
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-56875e9720a60" data-id="56875e9720a60" data-height="60" data-height-mobile="60" data-height-tab="60" data-height-tab-portrait="60" data-height-mobile-landscape="60"></div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width"></div>
					<!-- Row Backgrounds -->
					<div class="upb_color" data-bg-override="full" data-bg-color="#f5f5f5" data-fadeout="" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false"  data-custom-vc-row=""  data-vc="4.8.1"  data-theme-support=""   data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size=""    ></div>
					<div class="vc_row wpb_row vc_row-fluid" >
						<div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-sm vc_hidden-xs">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-5684bafc894b5" id="spacer-5684bafc894b5" data-id="5684bafc894b5" data-height="60" data-height-mobile="30" data-height-tab="50" data-height-tab-portrait="50" data-height-mobile-landscape="30"></div>
								<div id="ultimate-heading-20095684bafc89579" class="uvc-heading ultimate-heading-20095684bafc89579 uvc-9248 " data-hspacer="no_spacer"  data-halign="center" style="text-align:center">
									<div class="uvc-heading-spacer no_spacer" style="top"></div>
									<div class="uvc-main-heading ult-responsive" id="uvc-main-heading-1"  data-ultimate-target='.uvc-heading.ultimate-heading-20095684bafc89579 h2'  data-responsive-json-new='{"font-size":"desktop:18px;","line-height":"desktop:24px;"}' >
										<h2>YEARS OF EXPERIENCE</h2>
									</div>
									<div class="uvc-sub-heading ult-responsive" id="uvc-sub-heading"  data-ultimate-target='.uvc-heading.ultimate-heading-20095684bafc89579 .uvc-sub-heading '  data-responsive-json-new='{"font-size":"","line-height":""}'><br /></div>
								</div>
								<div class="uvc-type-wrap type-header uvc-type-align-center  uvc-wrap-14476637225684bafc8963b" id="uvc-type-wrap">
									<span class="ultimate-typewriter-prefix"><strong>WE BUILD</strong> IS </span><span id="typed-14476637225684bafc8963b" class="ultimate-typed-main "></span>
								</div>
								<div class="ult-spacer spacer-5684bafc89723" data-id="5684bafc89723" data-height="60" data-height-mobile="30" data-height-tab="50" data-height-tab-portrait="50" data-height-mobile-landscape="30"></div>
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-3">
							<div class="wpb_wrapper">
								<div class="aio-icon-component   style_2">
									<div class="aio-icon-box top-icon">
										<div class="aio-icon-top">
											<div class="ult-just-icon-wrapper ">
												<div class="align-icon" style="text-align:center;">
													<div class="aio-icon circle " id="aio-icon-001">
														<i class="WeBuild-Related-tool4"></i>
													</div>
												</div>
											</div>
										</div>
										<div class="aio-icon-header">
											<h3 class="aio-icon-title">We deliver quality</h3>
										</div>
										<!-- header -->
										<div class="aio-icon-description" style="font-weight:normal;font-style:normal;font-size:14px;line-height:24px;color:#a1b1bc;">Praesent turpis mauris, aliquet id dolor Gravida adipiscing lectus ut rutrum Aenean at posuere risus.</div>
										<!-- description -->
									</div>
									<!-- aio-icon-box -->
								</div>
								<!-- aio-icon-component -->
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-3">
							<div class="wpb_wrapper">
								<div class="aio-icon-component   style_2">
									<div class="aio-icon-box top-icon">
										<div class="aio-icon-top">
											<div class="ult-just-icon-wrapper ">
												<div class="align-icon" style="text-align:center;">
													<div class="aio-icon circle " id="aio-icon-002">
														<i class="WeBuild-Related-construction9"></i>
													</div>
												</div>
											</div>
										</div>
										<div class="aio-icon-header">
											<h3 class="aio-icon-title">Always on time</h3>
										</div>
										<!-- header -->
										<div class="aio-icon-description" style="font-weight:normal;font-style:normal;font-size:14px;line-height:24px;color:#a1b1bc;">Praesent turpis mauris, aliquet id dolor Gravida adipiscing lectus ut rutrum Aenean at posuere risus.</div>
										<!-- description -->
									</div>
									<!-- aio-icon-box -->
								</div>
								<!-- aio-icon-component -->
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-3">
							<div class="wpb_wrapper">
								<div class="aio-icon-component   style_2">
									<div class="aio-icon-box top-icon">
										<div class="aio-icon-top">
											<div class="ult-just-icon-wrapper ">
												<div class="align-icon" style="text-align:center;">
													<div class="aio-icon circle " id="aio-icon-003">
														<i class="WeBuild-Related-construction12"></i>
													</div>
												</div>
											</div>
										</div>
										<div class="aio-icon-header">
											<h3 class="aio-icon-title">We are pasionate</h3>
										</div>
										<!-- header -->
										<div class="aio-icon-description" style="font-weight:normal;font-style:normal;font-size:14px;line-height:24px;color:#a1b1bc;">Praesent turpis mauris, aliquet id dolor Gravida adipiscing lectus ut rutrum Aenean at posuere risus.</div>
										<!-- description -->
									</div>
									<!-- aio-icon-box -->
								</div>
								<!-- aio-icon-component -->
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-3">
							<div class="wpb_wrapper">
								<div class="aio-icon-component   style_2">
									<div class="aio-icon-box top-icon">
										<div class="aio-icon-top">
											<div class="ult-just-icon-wrapper ">
												<div class="align-icon" style="text-align:center;">
													<div class="aio-icon circle " id="aio-icon-004">
														<i class="WeBuild-Related-demolition"></i>
													</div>
												</div>
											</div>
										</div>
										<div class="aio-icon-header">
											<h3 class="aio-icon-title">Professional Services</h3>
										</div>
										<!-- header -->
										<div class="aio-icon-description" style="font-weight:normal;font-style:normal;font-size:14px;line-height:24px;color:#a1b1bc;">Praesent turpis mauris, aliquet id dolor Gravida adipiscing lectus ut rutrum Aenean at posuere risus.</div>
										<!-- description -->
									</div>
									<!-- aio-icon-box -->
								</div>
								<!-- aio-icon-component -->
							</div>
						</div>
					</div>
					<div class="vc_row-full-width"></div>
					<div class="vc_row wpb_row vc_row-fluid vc_custom_1432041013597" >
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-5684bafc8d1fe" data-id="5684bafc8d1fe" data-height="60" data-height-mobile="40" data-height-tab="60" data-height-tab-portrait="50" data-height-mobile-landscape="50"></div>
								<div id="ultimate-heading-44195684bafc8d611" class="uvc-heading ultimate-heading-44195684bafc8d611 uvc-1728 " data-hspacer="line_with_icon" data-hline_width="100" data-hicon_type="selector" data-hborder_style="solid" data-hborder_height="1" data-hborder_color="#5d6e7b" data-icon_width="24" data-hfixer="10"  data-halign="center" style="text-align:center">
									<div class="uvc-main-heading ult-responsive" id="uvc-main-heading-2" data-ultimate-target='.uvc-heading.ultimate-heading-44195684bafc8d611 h2'  data-responsive-json-new='{"font-size":"desktop:30px;","line-height":"desktop:35px;"}' >
										<h2>OUR SERVICES</h2>
									</div>
									<div class="uvc-heading-spacer line_with_icon" id="uvc-heading-spacer-1">
										<div class="ult-just-icon-wrapper ">
											<div class="align-icon text-center">
												<div class="aio-icon none a-aio-icon">
													<i class="WeBuild-Related-paint55"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="uvc-sub-heading ult-responsive" id="uvc-sub-heading-2" data-ultimate-target='.uvc-heading.ultimate-heading-44195684bafc8d611 .uvc-sub-heading '  data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:24px;"}'>We are proud to present you our latest projects that have behind<br />
										a great team and hard work, but very satisfied clients.
									</div>
								</div>
								<div class="ult-spacer spacer-5684bafc8d6ad" data-id="5684bafc8d6ad" data-height="80" data-height-mobile="" data-height-tab="60" data-height-tab-portrait="" data-height-mobile-landscape="40"></div>
								<div class="vc_row wpb_row vc_inner vc_row-fluid">
									<div class="wpb_column vc_column_container vc_col-sm-4">
										<div class="wpb_wrapper">
											<div class="ult-new-ib ult-ib-effect-style2 ult-ib-resp a-ult-ib-resp" data-min-width="768" data-max-width="900" data-opacity="0.9" data-hover-opacity="0.2" >
												<img class="ult-new-ib-img" alt="" src="images/services/services-3.jpg"   />
												<div class="ult-new-ib-desc">
													<div class="ult-new-ib-title"></div>
													<div class="ult-new-ib-content">
														<p></p>
													</div>
												</div>
												<a class="ult-new-ib-link" ></a>
											</div>
											<div id="ultimate-heading-80015684bafc8f178" class="uvc-heading ultimate-heading-80015684bafc8f178 uvc-6177 " data-hspacer="no_spacer"  data-halign="left" style="text-align:left">
												<div class="uvc-heading-spacer no_spacer" style="top"></div>
												<div class="uvc-main-heading ult-responsive" id="uvc-main-heading-6" data-ultimate-target='.uvc-heading.ultimate-heading-80015684bafc8f178 h2'  data-responsive-json-new='{"font-size":"desktop:18px;","line-height":"desktop:30px;"}' >
													<h2>CONSTRUCTION MANAGEMENT</h2>
												</div>
												<div class="uvc-sub-heading ult-responsive a-uvc-sub-heading"  data-ultimate-target='.uvc-heading.ultimate-heading-80015684bafc8f178 .uvc-sub-heading '  data-responsive-json-new='{"font-size":"desktop:14px;","line-height":"desktop:24px;"}'>
													<p>Being the best in our field means that we are committed to every project, we have ingenious ideas that become reality and we make every client happy</p>

												</div>
											</div>
											<button type="button" class="ubtn ubtn-normal ubtn-no-hover-bg  none  ubtn-left   tooltip-5684bafc8f270"  data-hover="#2c3e50" data-border-color="#ffffff" data-bg="rgba(224,224,224,0.01)" data-hover-bg="#ffffff" data-border-hover="#ffffff" data-shadow-hover="" data-shadow-click="none" data-shadow="" data-shd-shadow=""><span class="ubtn-hover"></span><span class="ubtn-data ubtn-text">Read more</span></button>
											<div class="ult-spacer spacer-5684bafc8f2fe" data-id="5684bafc8f2fe" data-height="" data-height-mobile="25" data-height-tab="" data-height-tab-portrait="25" data-height-mobile-landscape="25"></div>
										</div>
									</div>
									<div class="wpb_column vc_column_container vc_col-sm-4">
										<div class="wpb_wrapper">
											<div class="ult-new-ib ult-ib-effect-style2 ult-ib-resp a-ult-ib-resp" data-min-width="768" data-max-width="900" data-opacity="0.9" data-hover-opacity="0.2" >
												<img class="ult-new-ib-img" alt="" src="images/services/services-2.jpg"   />
												<div class="ult-new-ib-desc">
													<div class="ult-new-ib-title"></div>
													<div class="ult-new-ib-content">
														<p></p>
													</div>
												</div>
												<a class="ult-new-ib-link" ></a>
											</div>
											<div id="ultimate-heading-39205684bafc8fffd" class="uvc-heading ultimate-heading-39205684bafc8fffd uvc-9587 " data-hspacer="no_spacer"  data-halign="left" style="text-align:left">
												<div class="uvc-heading-spacer no_spacer" style="top"></div>
												<div class="uvc-main-heading ult-responsive" id="uvc-main-heading-9" data-ultimate-target='.uvc-heading.ultimate-heading-39205684bafc8fffd h2'  data-responsive-json-new='{"font-size":"desktop:18px;","line-height":"desktop:30px;"}' >
													<h2>RENOVATION</h2>
												</div>
												<div class="uvc-sub-heading ult-responsive a-uvc-sub-heading"  data-ultimate-target='.uvc-heading.ultimate-heading-39205684bafc8fffd .uvc-sub-heading '  data-responsive-json-new='{"font-size":"desktop:14px;","line-height":"desktop:24px;"}'><p>Needing a fresh touch? We are there to help you with new ideas and retouches that will brighten up every corner of the house.</p></div>
											</div>
											<button type="button" class="ubtn ubtn-normal ubtn-no-hover-bg  none  ubtn-left   tooltip-5684bafc8f270"  data-hover="#2c3e50" data-border-color="#ffffff" data-bg="rgba(224,224,224,0.01)" data-hover-bg="#ffffff" data-border-hover="#ffffff" data-shadow-hover="" data-shadow-click="none" data-shadow="" data-shd-shadow=""><span class="ubtn-hover"></span><span class="ubtn-data ubtn-text">Read more</span></button>
											<div class="ult-spacer spacer-5684bafc9017d" data-id="5684bafc9017d" data-height="" data-height-mobile="25" data-height-tab="" data-height-tab-portrait="25" data-height-mobile-landscape="25"></div>
										</div>
									</div>
									<div class="wpb_column vc_column_container vc_col-sm-4">
										<div class="wpb_wrapper">
											<div class="ult-new-ib ult-ib-effect-style2 ult-ib-resp a-ult-ib-resp" data-min-width="768" data-max-width="900" data-opacity="0.9" data-hover-opacity="0.2" >
												<img class="ult-new-ib-img" alt="" src="images/services/services1.jpg"   />
												<div class="ult-new-ib-desc">
													<div class="ult-new-ib-title"></div>
													<div class="ult-new-ib-content">
														<p></p>
													</div>
												</div>
												<a class="ult-new-ib-link" ></a>
											</div>
											<div id="ultimate-heading-85435684bafc91d35" class="uvc-heading ultimate-heading-85435684bafc91d35 uvc-2043 " data-hspacer="no_spacer"  data-halign="left" style="text-align:left">
												<div class="uvc-heading-spacer no_spacer" style="top"></div>
												<div class="uvc-main-heading ult-responsive" id="uvc-main-heading-10" data-ultimate-target='.uvc-heading.ultimate-heading-85435684bafc91d35 h2'  data-responsive-json-new='{"font-size":"desktop:18px;","line-height":"desktop:30px;"}' >
													<h2>ARCHITECTURE</h2>
												</div>
												<div class="uvc-sub-heading ult-responsive a-uvc-sub-heading" id="uvc-sub-heading-15" data-ultimate-target='.uvc-heading.ultimate-heading-85435684bafc91d35 .uvc-sub-heading '  data-responsive-json-new='{"font-size":"desktop:14px;","line-height":"desktop:24px;"}'><p>Our commitment to every project we have is the key to fulfill your wishes and to build your dream house from scratch.</p></div>
											</div>
											<button type="button" class="ubtn ubtn-normal ubtn-no-hover-bg  none  ubtn-left   tooltip-5684bafc8f270"  data-hover="#2c3e50" data-border-color="#ffffff" data-bg="rgba(224,224,224,0.01)" data-hover-bg="#ffffff" data-border-hover="#ffffff" data-shadow-hover="" data-shadow-click="none" data-shadow="" data-shd-shadow=""><span class="ubtn-hover"></span><span class="ubtn-data ubtn-text">Read more</span></button>
										</div>
									</div>
								</div>
								<div class="ult-spacer spacer-5684bafc91fbc" data-id="5684bafc91fbc" data-height="60" data-height-mobile="40" data-height-tab="60" data-height-tab-portrait="50" data-height-mobile-landscape="50"></div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width"></div>
					<!-- Row Backgrounds -->
					<div class="upb_bg_img" data-ultimate-bg="url(images/home/5.jpg)" data-image-id="3459|images/home/5.jpg" data-ultimate-bg-style="vcpb-default" data-bg-img-repeat="repeat" data-bg-img-size="cover" data-bg-img-position="" data-parallx_sense="30" data-bg-override="full" data-bg_img_attach="scroll" data-upb-overlay-color="rgba(0,0,0,0.75)" data-upb-bg-animation="" data-fadeout="" data-bg-animation="left-animation" data-bg-animation-type="h" data-animation-repeat="repeat" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false"  data-custom-vc-row=""  data-vc="4.8.1"  data-theme-support=""   data-overlay="true" data-overlay-color="rgba(0,0,0,0.75)" data-overlay-pattern="" data-overlay-pattern-opacity="0.8" data-overlay-pattern-size="" data-overlay-pattern-attachment="scroll"    data-seperator="true"  data-seperator-type="xlarge_triangle_left_seperator"  data-seperator-shape-size="40"  data-seperator-svg-height="200"  data-seperator-full-width="true" data-seperator-position="top_seperator"  data-seperator-background-color="#fff"  data-icon=""  ></div>
					<div class="vc_row wpb_row vc_row-fluid"  style="color:#efefef;">
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-5684bafc9332c" data-id="5684bafc9332c" data-height="80" data-height-mobile="" data-height-tab="60" data-height-tab-portrait="" data-height-mobile-landscape="40"></div>
								<div id="ultimate-heading-93925684bafc9374a" class="uvc-heading ultimate-heading-93925684bafc9374a uvc-3175 " data-hspacer="line_with_icon" data-hline_width="100" data-hicon_type="selector" data-hborder_style="solid" data-hborder_height="1" data-hborder_color="#a1b1bc" data-icon_width="16" data-hfixer="10"  data-halign="center" style="text-align:center">
									<div class="uvc-main-heading ult-responsive" id="uvc-main-heading-11" data-ultimate-target='.uvc-heading.ultimate-heading-93925684bafc9374a h2'  data-responsive-json-new='{"font-size":"desktop:30px;","line-height":"desktop:35px;"}' >
										<h2>WHY CHOOSE US?</h2>
									</div>
									<div class="uvc-heading-spacer line_with_icon">
										<div class="ult-just-icon-wrapper ">
											<div class="align-icon text-center">
												<div class="aio-icon none a-aio-icon">
													<i class="Defaults-trophy"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="uvc-sub-heading ult-responsive" id="uvc-sub-heading-12" data-ultimate-target='.uvc-heading.ultimate-heading-93925684bafc9374a .uvc-sub-heading '  data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:24px;"}'>Being the best in our field means that we are committed to every project, we have ingenious ideas<br />
										that become reality and we make every client happy.
									</div>
								</div>
								<div class="ult-spacer spacer-5684bafc937dc" data-id="5684bafc937dc" data-height="60" data-height-mobile="" data-height-tab="60" data-height-tab-portrait="" data-height-mobile-landscape="40"></div>
								<div class="vc_row wpb_row vc_inner vc_row-fluid">
									<div class="wpb_column vc_column_container vc_col-sm-4">
										<div class="wpb_wrapper">
											<div class="ult-spacer spacer-5684bafc94ef2" data-id="5684bafc94ef2" data-height="60" data-height-mobile="" data-height-tab="40" data-height-tab-portrait="" data-height-mobile-landscape="20"></div>
											<div class="aio-icon-component   style_1">
												<div class="aio-icon-box heading-right-icon"  >
													<div class="aio-icon-header">
														<h3 class="aio-icon-title" id="aio-icon-title-5">Professional Builder</h3>
													</div>
													<!-- header -->
													<div class="aio-icon-heading-right">
														<div class="ult-just-icon-wrapper ">
															<div class="align-icon text-center">
																<div class="aio-icon advanced " id="aio-icon-333">
																	<i class="WeBuild-Related-constructor4"></i>
																</div>
															</div>
														</div>
													</div>
													<div class="aio-icon-description" id="aio-icon-description-990">
														<p>Praesent turpis mauris, aliquet id dolor Gravida adipiscing lectus ut rutrum Aenean at posuere risus.</p>
													</div>
													<!-- description -->
												</div>
												<!-- aio-icon-box -->
											</div>
											<!-- aio-icon-component -->
											<div class="ult-spacer spacer-5684bafc9536a" data-id="5684bafc9536a" data-height="30" data-height-mobile="" data-height-tab="20" data-height-tab-portrait="" data-height-mobile-landscape="10"></div>
											<div class="aio-icon-component   style_1">
												<div class="aio-icon-box heading-right-icon"  >
													<div class="aio-icon-header">
														<h3 class="aio-icon-title" id="aio-icon-title-6">Certified Experience</h3>
													</div>
													<!-- header -->
													<div class="aio-icon-heading-right">
														<div class="ult-just-icon-wrapper ">
															<div class="align-icon text-center">
																<div class="aio-icon advanced " id="aio-icon-444">
																	<i class="Defaults-star-o"></i>
																</div>
															</div>
														</div>
													</div>
													<div class="aio-icon-description" id="aio-icon-description-111">
														<p>Praesent turpis mauris, aliquet id dolor Gravida adipiscing lectus ut rutrum Aenean at posuere risus.</p>
													</div>
													<!-- description -->
												</div>
												<!-- aio-icon-box -->
											</div>
											<!-- aio-icon-component -->
										</div>
									</div>
									<div class="wpb_column vc_column_container vc_col-sm-4 vc_custom_1429701226774">
										<div class="wpb_wrapper">
											<div class="wpb_single_image wpb_content_element vc_align_center  wpb_animate_when_almost_visible wpb_bottom-to-top">
												<figure class="wpb_wrapper vc_figure">
													<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="images/girl.png" alt="build-man" title="build-man" /></div>
												</figure>
											</div>
										</div>
									</div>
									<div class="wpb_column vc_column_container vc_col-sm-4">
										<div class="wpb_wrapper">
											<div class="ult-spacer spacer-5684bafc98368" data-id="5684bafc98368" data-height="60" data-height-mobile="25" data-height-tab="40" data-height-tab-portrait="" data-height-mobile-landscape="25"></div>
											<div class="aio-icon-component   style_1">
												<div class="aio-icon-box default-icon"  >
													<div class="aio-icon-default">
														<div class="ult-just-icon-wrapper ">
															<div class="align-icon text-center">
																<div class="aio-icon advanced " id="aio-icon-555">
																	<i class="Defaults-money"></i>
																</div>
															</div>
														</div>
													</div>
													<div class="aio-icon-header">
														<h3 class="aio-icon-title" id="aio-icon-title-7">Competitive Prices</h3>
													</div>
													<!-- header -->
													<div class="aio-icon-description" id="aio-icon-description-999">
														<p>Praesent turpis mauris, aliquet id dolor Gravida adipiscing lectus ut rutrum Aenean at posuere risus.</p>
													</div>
													<!-- description -->
												</div>
												<!-- aio-icon-box -->
											</div>
											<!-- aio-icon-component -->
											<div class="ult-spacer spacer-5684bafc987fa" data-id="5684bafc987fa" data-height="30" data-height-mobile="" data-height-tab="20" data-height-tab-portrait="" data-height-mobile-landscape="10"></div>
											<div class="aio-icon-component   style_1">
												<div class="aio-icon-box default-icon"  >
													<div class="aio-icon-default">
														<div class="ult-just-icon-wrapper ">
															<div class="align-icon text-center">
																<div class="aio-icon advanced" id="aio-icon-901">
																	<i class="WeBuild-Related-drill5"></i>
																</div>
															</div>
														</div>
													</div>
													<div class="aio-icon-header">
														<h3 class="aio-icon-title" id="aio-icon-title-8">Advanced Tools</h3>
													</div>
													<!-- header -->
													<div class="aio-icon-description" id="aio-icon-description-222">
														<p>Praesent turpis mauris, aliquet id dolor Gravida adipiscing lectus ut rutrum Aenean at posuere risus.</p>
													</div>
													<!-- description -->
												</div>
												<!-- aio-icon-box -->
											</div>
											<!-- aio-icon-component -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width"></div>
					<!-- Row Backgrounds -->
					<div class="upb_color" data-bg-override="ex-full" data-bg-color="#f9fafb" data-fadeout="fadeout_row_value" data-fadeout-percentage="50" data-parallax-content="parallax_content_value" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false"  data-custom-vc-row=""  data-vc="4.8.1"  data-theme-support=""   data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size=""    ></div>
					<div class="vc_row wpb_row vc_row-fluid vc_custom_1448633985329" >
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-56875e97341aa" data-id="56875e97341aa" data-height="80" data-height-mobile="" data-height-tab="60" data-height-tab-portrait="" data-height-mobile-landscape="40"></div>
								<div id="ultimate-heading-27065684bafc9a2db" class="uvc-heading ultimate-heading-27065684bafc9a2db uvc-884 " data-hspacer="line_with_icon" data-hline_width="100" data-hicon_type="selector" data-hborder_style="solid" data-hborder_height="1" data-hborder_color="#5d6e7b" data-icon_width="20" data-hfixer="10"  data-halign="center" style="text-align:center">
									<div class="uvc-main-heading ult-responsive" id="uvc-main-heading-1007" data-ultimate-target='.uvc-heading.ultimate-heading-27065684bafc9a2db h2'  data-responsive-json-new='{"font-size":"desktop:30px;","line-height":"desktop:35px;"}' >
										<h2>OUR LATEST PROJECTS</h2>
									</div>
									<div class="uvc-heading-spacer line_with_icon">
										<div class="ult-just-icon-wrapper ">
											<div class="align-icon text-center">
												<div class="aio-icon none a-aio-icon">
													<i class="WeBuild-Related-construction11"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="uvc-sub-heading ult-responsive" id="uvc-sub-heading-13" data-ultimate-target='.uvc-heading.ultimate-heading-27065684bafc9a2db .uvc-sub-heading '  data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:24px;"}'>We are proud to present you our latest projects that have behind<br />
										a great team and hard work, but very satisfied clients.
									</div>
								</div>
								<div class="ult-spacer spacer-5686fe7c784f6" id="ult-spacer-009" data-id="5686fe7c784f6" data-height="40" data-height-mobile="20" data-height-tab="30" data-height-tab-portrait="30" data-height-mobile-landscape="20"></div>

								<!-- ESSENTIAL GRID END SKIN CSS -->
								<!-- THE ESSENTIAL GRID 2.0.9.1 -->
								<!-- GRID WRAPPER FOR CONTAINER SIZING - HERE YOU CAN SET THE CONTAINER SIZE AND CONTAINER SKIN -->
								<div class="vc_row wpb_row vc_row-fluid vc_custom_1432041286912" >
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="wpb_wrapper">
											<div class="ult-spacer spacer-5684bafc9a36f" data-id="5684bafc9a36f" data-height="80" data-height-mobile="" data-height-tab="60" data-height-tab-portrait="" data-height-mobile-landscape="40"></div>
											<!-- ESSENTIAL GRID END SKIN CSS -->
											<!-- THE ESSENTIAL GRID 2.0.9.1 -->
											<!-- GRID WRAPPER FOR CONTAINER SIZING - HERE YOU CAN SET THE CONTAINER SIZE AND CONTAINER SKIN -->
											<div class="myportfolio-container minimal-light" id="esg-grid-1-1-wrap">
												<!-- THE GRID ITSELF WITH FILTERS, PAGINATION, SORTING ETC... -->
												<div id="esg-grid-1-1" class="esg-grid">
													<!-- ############################ -->
													<!-- THE GRID ITSELF WITH ENTRIES -->
													<!-- ############################ -->
													<ul>
														<!-- PORTFOLIO ITEM 14 -->
														<li class="filterall filter-interior-design eg-pierce-wrapper eg-post-id-365" data-date="1427129810" data-cobblesw="1" data-cobblesh="1">
															<!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
															<div class="esg-media-cover-wrapper">
																<!-- THE MEDIA OF THE ENTRY -->
																<div class="esg-entry-media"><img src="images/500x375/we-build1-500x375.jpg" alt=""></div>
																<!-- THE CONTENT OF THE ENTRY -->
																<div class="esg-entry-cover esg-fade" data-delay="0">
																	<!-- THE COLORED OVERLAY -->
																	<div class="esg-overlay eg-pierce-container"></div>
																	<div class="esg-center eg-post-365 eg-pierce-element-0-a esg-zoomback" data-delay="0.2"><a class="eg-pierce-element-0 eg-post-365 esgbox" href="images/lightbox/we-build1.jpg" title="Fusce eleifend mauris"><i class="eg-icon-search"></i></a></div>
																	<div class="esg-center eg-post-365 eg-pierce-element-1-a esg-zoomfront" data-delay="0.3"><a class="eg-pierce-element-1 eg-post-365" href="#" target="_self"><i class="eg-icon-unlink"></i></a></div>
																	<div class="esg-center eg-post-365 eg-pierce-element-2 esg-falldown" data-delay="0.3">Fusce eleifend mauris</div>
																</div>
																<!-- END OF THE CONTENT IN THE ENTRY -->
															</div>
															<!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
														</li>
														<!-- END OF PORTFOLIO ITEM -->
														<!-- PORTFOLIO ITEM 14 -->
														<li class="filterall filter-interior-design eg-pierce-wrapper eg-post-id-378" data-date="1427130064" data-cobblesw="1" data-cobblesh="1">
															<!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
															<div class="esg-media-cover-wrapper">
																<!-- THE MEDIA OF THE ENTRY -->
																<div class="esg-entry-media"><img src="images/500x375/We-build2-500x375.jpg" alt=""></div>
																<!-- THE CONTENT OF THE ENTRY -->
																<div class="esg-entry-cover esg-fade" data-delay="0">
																	<!-- THE COLORED OVERLAY -->
																	<div class="esg-overlay eg-pierce-container"></div>
																	<div class="esg-center eg-post-378 eg-pierce-element-0-a esg-zoomback" data-delay="0.2"><a class="eg-pierce-element-0 eg-post-378 esgbox" href="images/lightbox/We-build2.jpg" title="Integer pulvinar ligula"><i class="eg-icon-search"></i></a></div>
																	<div class="esg-center eg-post-378 eg-pierce-element-1-a esg-zoomfront" data-delay="0.3"><a class="eg-pierce-element-1 eg-post-378" href="#" target="_self"><i class="eg-icon-unlink"></i></a></div>
																	<div class="esg-center eg-post-378 eg-pierce-element-2 esg-falldown" data-delay="0.3">Integer pulvinar ligula</div>
																</div>
																<!-- END OF THE CONTENT IN THE ENTRY -->
															</div>
															<!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
														</li>
														<!-- END OF PORTFOLIO ITEM -->
														<!-- PORTFOLIO ITEM 14 -->
														<li class="filterall filter-interior-design eg-pierce-wrapper eg-post-id-380" data-date="1427130138" data-cobblesw="1" data-cobblesh="1">
															<!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
															<div class="esg-media-cover-wrapper">
																<!-- THE MEDIA OF THE ENTRY -->
																<div class="esg-entry-media"><img src="images/500x375/We-build3-500x375.jpg" alt=""></div>
																<!-- THE CONTENT OF THE ENTRY -->
																<div class="esg-entry-cover esg-fade" data-delay="0">
																	<!-- THE COLORED OVERLAY -->
																	<div class="esg-overlay eg-pierce-container"></div>
																	<div class="esg-center eg-post-380 eg-pierce-element-0-a esg-zoomback" data-delay="0.2"><a class="eg-pierce-element-0 eg-post-380 esgbox" href="images/lightbox/We-build3.jpg" title="Nulla semper neque"><i class="eg-icon-search"></i></a></div>
																	<div class="esg-center eg-post-380 eg-pierce-element-1-a esg-zoomfront" data-delay="0.3"><a class="eg-pierce-element-1 eg-post-380" href="#" target="_self"><i class="eg-icon-unlink"></i></a></div>
																	<div class="esg-center eg-post-380 eg-pierce-element-2 esg-falldown" data-delay="0.3">Nulla semper neque</div>
																</div>
																<!-- END OF THE CONTENT IN THE ENTRY -->
															</div>
															<!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
														</li>
														<!-- END OF PORTFOLIO ITEM -->
														<!-- PORTFOLIO ITEM 14 -->
														<li class="filterall filter-houses filter-interior-design eg-pierce-wrapper eg-post-id-388" data-date="1427130262" data-cobblesw="1" data-cobblesh="1">
															<!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
															<div class="esg-media-cover-wrapper">
																<!-- THE MEDIA OF THE ENTRY -->
																<div class="esg-entry-media"><img src="images/500x375/we-build4-500x375.jpg" alt=""></div>
																<!-- THE CONTENT OF THE ENTRY -->
																<div class="esg-entry-cover esg-fade" data-delay="0">
																	<!-- THE COLORED OVERLAY -->
																	<div class="esg-overlay eg-pierce-container"></div>
																	<div class="esg-center eg-post-388 eg-pierce-element-0-a esg-zoomback" data-delay="0.2"><a class="eg-pierce-element-0 eg-post-388 esgbox" href="images/lightbox/we-build4.jpg" title="Ut in tortor at nisi fermentum"><i class="eg-icon-search"></i></a></div>
																	<div class="esg-center eg-post-388 eg-pierce-element-1-a esg-zoomfront" data-delay="0.3"><a class="eg-pierce-element-1 eg-post-388" href="#" target="_self"><i class="eg-icon-unlink"></i></a></div>
																	<div class="esg-center eg-post-388 eg-pierce-element-2 esg-falldown" data-delay="0.3">Ut in tortor at nisi fermentum</div>
																</div>
																<!-- END OF THE CONTENT IN THE ENTRY -->
															</div>
															<!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
														</li>
														<!-- END OF PORTFOLIO ITEM -->
														<!-- PORTFOLIO ITEM 14 -->
														<li class="filterall filter-interior-design eg-pierce-wrapper eg-post-id-396" data-date="1427130338" data-cobblesw="1" data-cobblesh="1">
															<!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
															<div class="esg-media-cover-wrapper">
																<!-- THE MEDIA OF THE ENTRY -->
																<div class="esg-entry-media"><img src="images/500x375/we-build5-500x375.jpg" alt=""></div>
																<!-- THE CONTENT OF THE ENTRY -->
																<div class="esg-entry-cover esg-fade" data-delay="0">
																	<!-- THE COLORED OVERLAY -->
																	<div class="esg-overlay eg-pierce-container"></div>
																	<div class="esg-center eg-post-396 eg-pierce-element-0-a esg-zoomback" data-delay="0.2"><a class="eg-pierce-element-0 eg-post-396 esgbox" href="images/lightbox/we-build5.jpg" title="Nam ac eros dignissim"><i class="eg-icon-search"></i></a></div>
																	<div class="esg-center eg-post-396 eg-pierce-element-1-a esg-zoomfront" data-delay="0.3"><a class="eg-pierce-element-1 eg-post-396" href="#" target="_self"><i class="eg-icon-unlink"></i></a></div>
																	<div class="esg-center eg-post-396 eg-pierce-element-2 esg-falldown" data-delay="0.3">Nam ac eros dignissim</div>
																</div>
																<!-- END OF THE CONTENT IN THE ENTRY -->
															</div>
															<!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
														</li>
														<!-- END OF PORTFOLIO ITEM -->
														<!-- PORTFOLIO ITEM 14 -->
														<li class="filterall filter-interior-design eg-pierce-wrapper eg-post-id-404" data-date="1427130434" data-cobblesw="1" data-cobblesh="1">
															<!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
															<div class="esg-media-cover-wrapper">
																<!-- THE MEDIA OF THE ENTRY -->
																<div class="esg-entry-media"><img src="images/500x375/we-build6-500x375.jpg" alt=""></div>
																<!-- THE CONTENT OF THE ENTRY -->
																<div class="esg-entry-cover esg-fade" data-delay="0">
																	<!-- THE COLORED OVERLAY -->
																	<div class="esg-overlay eg-pierce-container"></div>
																	<div class="esg-center eg-post-404 eg-pierce-element-0-a esg-zoomback" data-delay="0.2"><a class="eg-pierce-element-0 eg-post-404 esgbox" href="images/lightbox/we-build6.jpg" title="Aliquam a velit eget"><i class="eg-icon-search"></i></a></div>
																	<div class="esg-center eg-post-404 eg-pierce-element-1-a esg-zoomfront" data-delay="0.3"><a class="eg-pierce-element-1 eg-post-404" href="#" target="_self"><i class="eg-icon-unlink"></i></a></div>
																	<div class="esg-center eg-post-404 eg-pierce-element-2 esg-falldown" data-delay="0.3">Aliquam a velit eget</div>
																</div>
																<!-- END OF THE CONTENT IN THE ENTRY -->
															</div>
															<!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
														</li>
														<!-- END OF PORTFOLIO ITEM -->
														<!-- PORTFOLIO ITEM 14 -->
														<li class="filterall filter-interior-design eg-pierce-wrapper eg-post-id-412" data-date="1427130474" data-cobblesw="1" data-cobblesh="1">
															<!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
															<div class="esg-media-cover-wrapper">
																<!-- THE MEDIA OF THE ENTRY -->
																<div class="esg-entry-media"><img src="images/500x375/we-build7-500x375.jpg" alt=""></div>
																<!-- THE CONTENT OF THE ENTRY -->
																<div class="esg-entry-cover esg-fade" data-delay="0">
																	<!-- THE COLORED OVERLAY -->
																	<div class="esg-overlay eg-pierce-container"></div>
																	<div class="esg-center eg-post-412 eg-pierce-element-0-a esg-zoomback" data-delay="0.2"><a class="eg-pierce-element-0 eg-post-412 esgbox" href="images/lightbox/we-build7.jpg" title="Vivamus ultrices felis"><i class="eg-icon-search"></i></a></div>
																	<div class="esg-center eg-post-412 eg-pierce-element-1-a esg-zoomfront" data-delay="0.3"><a class="eg-pierce-element-1 eg-post-412" href="#" target="_self"><i class="eg-icon-unlink"></i></a></div>
																	<div class="esg-center eg-post-412 eg-pierce-element-2 esg-falldown" data-delay="0.3">Vivamus ultrices felis</div>
																</div>
																<!-- END OF THE CONTENT IN THE ENTRY -->
															</div>
															<!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
														</li>
														<!-- END OF PORTFOLIO ITEM -->
														<!-- PORTFOLIO ITEM 14 -->
														<li class="filterall filter-interior-design eg-pierce-wrapper eg-post-id-414" data-date="1427130506" data-cobblesw="1" data-cobblesh="1">
															<!-- THE CONTAINER FOR THE MEDIA AND THE COVER EFFECTS -->
															<div class="esg-media-cover-wrapper">
																<!-- THE MEDIA OF THE ENTRY -->
																<div class="esg-entry-media"><img src="images/500x375/we-build8-500x375.jpg" alt=""></div>
																<!-- THE CONTENT OF THE ENTRY -->
																<div class="esg-entry-cover esg-fade" data-delay="0">
																	<!-- THE COLORED OVERLAY -->
																	<div class="esg-overlay eg-pierce-container"></div>
																	<div class="esg-center eg-post-414 eg-pierce-element-0-a esg-zoomback" data-delay="0.2"><a class="eg-pierce-element-0 eg-post-414 esgbox" href="images/lightbox/we-build8.jpg" title="Maecenas eget enim eget"><i class="eg-icon-search"></i></a></div>
																	<div class="esg-center eg-post-414 eg-pierce-element-1-a esg-zoomfront" data-delay="0.3"><a class="eg-pierce-element-1 eg-post-414" href="#" target="_self"><i class="eg-icon-unlink"></i></a></div>
																	<div class="esg-center eg-post-414 eg-pierce-element-2 esg-falldown" data-delay="0.3">Maecenas eget enim eget</div>
																</div>
																<!-- END OF THE CONTENT IN THE ENTRY -->
															</div>
															<!-- END OF THE CONTAINER FOR THE MEDIA AND COVER/HOVER EFFECTS -->
														</li>
														<!-- END OF PORTFOLIO ITEM -->
													</ul>
													<!-- ############################ -->
													<!--      END OF THE GRID         -->
													<!-- ############################ -->
												</div>
												<!-- END OF THE GRID -->
											</div>
											<!-- END OF THE GRID WRAPPER -->
											<div class="clear"></div>
										</div>
									</div>
								</div>
								<!-- END OF THE GRID WRAPPER -->
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width"></div>
					<!-- Row Backgrounds -->
					<div class="vc_row wpb_row vc_row-fluid vc_custom_1432032371944" >
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-5684bafcaec61" data-id="5684bafcaec61" data-height="20" data-height-mobile="10" data-height-tab="10" data-height-tab-portrait="10" data-height-mobile-landscape="10"></div>
							</div>
						</div>
						<div class="col-xs-6 wpb_column vc_column_container vc_col-sm-3">
							<div class="wpb_wrapper">
								<div class="stats-block stats-top ">
									<div class="aio-icon-top">
										<div class="ult-just-icon-wrapper ">
											<div class="align-icon text-center">
												<div class="aio-icon none ">
													<i class="none"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="stats-desc">
										<div id="counter_15983757585684bafcaf62c" data-id="counter_15983757585684bafcaf62c" class="stats-number" data-speed="5" data-counter-value="1730" data-separator="," data-decimal=".">0</div>
										<div class="stats-text">TOTAL PROJECTS</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 wpb_column vc_column_container vc_col-sm-3">
							<div class="wpb_wrapper">
								<div class="stats-block stats-top ">
									<div class="aio-icon-top">
										<div class="ult-just-icon-wrapper ">
											<div class="align-icon text-center">
												<div class="aio-icon none " id="aio-icon-787">
													<i class="none"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="stats-desc">
										<div id="counter_8645338565684bafcb04be" data-id="counter_8645338565684bafcb04be" class="stats-number" data-speed="5" data-counter-value="189" data-separator="," data-decimal=".">0</div>
										<div class="stats-text">HOUSES BUILT</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 wpb_column vc_column_container vc_col-sm-3">
							<div class="wpb_wrapper">
								<div class="stats-block stats-top ">
									<div class="aio-icon-top">
										<div class="ult-just-icon-wrapper ">
											<div class="align-icon text-center">
												<div class="aio-icon none " id="aio-icon-5">
													<i class="none"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="stats-desc">
										<div id="counter_6292842355684bafcb0e24" data-id="counter_6292842355684bafcb0e24" class="stats-number" data-speed="5" data-counter-value="117" data-separator="," data-decimal=".">0</div>
										<div class="stats-text">QUALIFIED WORKERS</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 wpb_column vc_column_container vc_col-sm-3">
							<div class="wpb_wrapper">
								<div class="stats-block stats-top ">
									<div class="aio-icon-top">
										<div class="ult-just-icon-wrapper ">
											<div class="align-icon text-center">
												<div class="aio-icon none " id="aio-icon-6">
													<i class="none"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="stats-desc">
										<div id="counter_19231747605684bafcb1791" data-id="counter_19231747605684bafcb1791" class="stats-number" data-speed="5" data-counter-value="108" data-separator="," data-decimal=".">0</div>
										<div class="stats-text">QUALIFIED WORKERS</div>
									</div>
								</div>
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-5684bafcb1d3a" data-id="5684bafcb1d3a" data-height="60" data-height-mobile="40" data-height-tab="60" data-height-tab-portrait="50" data-height-mobile-landscape="40"></div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width"></div>
					<!-- Row Backgrounds -->
					<div class="upb_color" data-bg-override="ex-full" data-bg-color="#f6c80d" data-fadeout="" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false"  data-custom-vc-row=""  data-vc="4.8.1"  data-theme-support=""   data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size=""    ></div>
					<div class="vc_row wpb_row vc_row-fluid vc_custom_1448640443943" >
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-5684bafcb79e4" data-id="5684bafcb79e4" data-height="80" data-height-mobile="20" data-height-tab="60" data-height-tab-portrait="30" data-height-mobile-landscape="30"></div>
								<div id="ultimate-heading-6335684bafcb7e5e" class="uvc-heading ultimate-heading-6335684bafcb7e5e uvc-927 text-center" data-hspacer="line_with_icon" data-hline_width="100" data-hicon_type="selector" data-hborder_style="solid" data-hborder_height="1" data-hborder_color="#ffffff" data-icon_width="16" data-hfixer="10"  data-halign="center">
									<div class="uvc-main-heading ult-responsive" id="uvc-main-heading-4" data-ultimate-target='.uvc-heading.ultimate-heading-6335684bafcb7e5e h2'  data-responsive-json-new='{"font-size":"desktop:30px;","line-height":"desktop:35px;"}' >
										<h2>OUR PRICES</h2>
									</div>
									<div class="uvc-heading-spacer line_with_icon">
										<div class="ult-just-icon-wrapper ">
											<div class="align-icon text-center">
												<div class="aio-icon none a-aio-icon">
													<i class="Defaults-money"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="uvc-sub-heading ult-responsive" id="uvc-sub-heading-989" data-ultimate-target='.uvc-heading.ultimate-heading-6335684bafcb7e5e .uvc-sub-heading '  data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:24px;"}'>We are proud to present you our latest projects that have behind a great team<br />
										and hard work, but very satisfied clients.
									</div>
								</div>
								<div class="ult-spacer spacer-5684bafcb7ef9" data-id="5684bafcb7ef9" data-height="60" data-height-mobile="20" data-height-tab="40" data-height-tab-portrait="" data-height-mobile-landscape=""></div>
								<div class="vc_row wpb_row vc_inner vc_row-fluid">
									<div class="wpb_column vc_column_container vc_col-sm-1">
										<div class="wpb_wrapper"><br /></div>
									</div>
									<div class="wpb_column vc_column_container vc_col-sm-10">
										<div class="wpb_wrapper">
											<div class="pro-pricing-table">
												<div class="col-md-4 pro-pricing-column pro-pricing-column-fancy pro-pricing-column-custom">
													<h2 class="pro-pricing-title">Healthcare</h2>
													<h3 class="pro-pricing-price"><sup>$</sup>19<span>/ sq feet</span></h3>
													<div class="pro-pricing-column-content">
														<ul>
															<li>Interior and exterior painting</li>
															<li>Environmentally friendly paints</li>
															<li>Low odur and Washable paints</li>
															<li>Specialised access equipment</li>
															<li>Associated building repairs</li>
															<li>Specialist coatings</li>
														</ul>
														<div class="pro-pricing-button"><a href="#" class="pro-btn pro-btn-outlined pro-btn-square pro-btn-outlined-black pro-btn-lg">Buy Now</a></div>
													</div>
												</div>
												<div class="col-md-4 pro-pricing-column pro-pricing-column-fancy pro-pricing-column-custom featured">
													<h2 class="pro-pricing-title" id="pro-pricing-title">Laminate Flooring</h2>
													<h3 class="pro-pricing-price" id="pro-pricing-price"><sup>$</sup>28<span>/ sq feet</span></h3>
													<div class="pro-pricing-column-content">
														<ul>
															<li>Repairing the existent flooring</li>
															<li>Gap filling</li>
															<li>Sanding</li>
															<li>Removal/replacement of furniture</li>
															<li>Secure even surface</li>
															<li>Disposal of old floor covering</li>
															<li>Application of damp proofing membranes</li>
														</ul>
														<div class="pro-pricing-button"><a href="#" class="pro-btn pro-btn-outlined pro-btn-square pro-btn-outlined-black pro-btn-lg">Buy Now</a></div>
													</div>
												</div>
												<div class="col-md-4 pro-pricing-column pro-pricing-column-fancy pro-pricing-column-custom">
													<h2 class="pro-pricing-title">Plasterboard</h2>
													<h3 class="pro-pricing-price"><sup>$</sup>34<span>/ sq feet</span></h3>
													<div class="pro-pricing-column-content">
														<ul>
															<li>Plain plasterboard</li>
															<li>Moisture Resistant Plasterboard</li>
															<li>SoundBloc Plasterboard</li>
															<li>Fireline Plasterboard</li>
															<li>Foilbacked Plasterboard</li>
															<li>Duraline Plasterboard</li>
														</ul>
														<div class="pro-pricing-button"><a href="#" class="pro-btn pro-btn-outlined pro-btn-square pro-btn-outlined-black pro-btn-lg">Buy Now</a></div>
													</div>
												</div>
												<div class="clear"></div>
											</div>
										</div>
									</div>
									<div class="wpb_column vc_column_container vc_col-sm-1">
										<div class="wpb_wrapper"><br /></div>
									</div>
								</div>
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-5684bafcba43d" data-id="5684bafcba43d" data-height="60" data-height-mobile="40" data-height-tab="60" data-height-tab-portrait="50" data-height-mobile-landscape="50"></div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width"></div>
					<!-- Row Backgrounds -->
					<div class="upb_bg_img" data-ultimate-bg="url(images/slider/slider.jpg)" data-image-id="3011|images/slider/slider.jpg" data-ultimate-bg-style="vcpb-default" data-bg-img-repeat="no-repeat" data-bg-img-size="cover" data-bg-img-position="" data-parallx_sense="30" data-bg-override="full" data-bg_img_attach="scroll" data-upb-overlay-color="rgba(0,0,0,0.46)" data-upb-bg-animation="" data-fadeout="" data-bg-animation="left-animation" data-bg-animation-type="h" data-animation-repeat="repeat" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false"  data-custom-vc-row=""  data-vc="4.8.1"  data-theme-support=""   data-overlay="true" data-overlay-color="rgba(0,0,0,0.46)" data-overlay-pattern="" data-overlay-pattern-opacity="0.8" data-overlay-pattern-size="" data-overlay-pattern-attachment="scroll"    ></div>
					<div class="vc_row wpb_row vc_row-fluid" >
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-5684bafcbbd37" data-id="5684bafcbbd37" data-height="80" data-height-mobile="20" data-height-tab="60" data-height-tab-portrait="30" data-height-mobile-landscape="30"></div>
								<div id="ultimate-heading-26755684bafcbc194" class="uvc-heading ultimate-heading-26755684bafcbc194 uvc-5114 text-center" data-hspacer="line_with_icon" data-hline_width="100" data-hicon_type="selector" data-hborder_style="solid" data-hborder_height="1" data-hborder_color="#a1b1bc" data-icon_width="16" data-hfixer="10"  data-halign="center" >
									<div class="uvc-main-heading ult-responsive" id="uvc-main-heading-101" data-ultimate-target='.uvc-heading.ultimate-heading-26755684bafcbc194 h2'  data-responsive-json-new='{"font-size":"desktop:30px;","line-height":"desktop:35px;"}' >
										<h2>CLIENTS </h2>
									</div>
									<div class="uvc-heading-spacer line_with_icon">
										<div class="ult-just-icon-wrapper ">
											<div class="align-icon text-center">
												<div class="aio-icon none a-aio-icon">
													<i class="icomoon-WeBuild-users"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-26755684bafcbc194 .uvc-sub-heading '  data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:24px;"}'>Here are testimonials from clients that we have worked with and are happy to share<br />
										their opinion about the process and the results.
									</div>
								</div>
								<div class="ult-spacer spacer-5684bafcbc229" data-id="5684bafcbc229" data-height="30" data-height-mobile="10" data-height-tab="20" data-height-tab-portrait="" data-height-mobile-landscape=""></div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width"></div>
					<div class="vc_row wpb_row vc_row-fluid" >
						<div class="wpb_column vc_column_container vc_col-sm-12 vc_custom_1435265636745">
							<div class="wpb_wrapper">
								<div class="pro-team-carousel specific_74590">
									<div><a href="http://google.com" target="_blank"><img alt="client-2483" src="images/brand/logo41.png" /></a></div>
									<div><a href="http://google.com" target="_blank"><img alt="client-2482" src="images/brand/logo21.png" /></a></div>
									<div><a href="http://google.com" target="_blank"><img alt="client-2481" src="images/brand/logo31.png" /></a></div>
									<div><a href="http://google.com" target="_blank"><img alt="client-2480" src="images/brand/logo41.png" /></a></div>
									<div><a href="http://google.com" target="_blank"><img alt="client-2479" src="images/brand/logo21.png" /></a></div>
									<div><a href="http://google.com" target="_blank"><img alt="client-2478" src="images/brand/logo31.png" /></a></div>
									<div><a href="http://google.com" target="_blank"><img alt="client-2477" src="images/brand/logo41.png" /></a></div>
									<div><a href="http://google.com" target="_blank"><img alt="client-2476" src="images/brand/logo11.png" /></a></div>
									<div><a href="http://google.com" target="_blank"><img alt="client-2475" src="images/brand/logo21.png" /></a></div>
									<div><a href="http://google.com" target="_blank"><img alt="client-2474" src="images/brand/logo31.png" /></a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width"></div>
					<div class="vc_row wpb_row vc_row-fluid" >
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="wpb_wrapper">
								<div class="ult-spacer spacer-5684bafcc31b5" data-id="5684bafcc31b5" data-height="30" data-height-mobile="10" data-height-tab="20" data-height-tab-portrait="" data-height-mobile-landscape=""></div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width"></div>
				</div>
			</div>
		</div>
	</div>
</div>



