<div id="content-wrapper" class="site-content">
	<div class="page-title-cont container-fluid" data-effect="parallax">
		<div class="row">
			<div class="page-header">
				<div class="background-image" id="background-image-101"></div>
				<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-12 display-table">
							<div class="title-wrapper fadeIn">
								<h1>
									{{meta_title}}
								</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container cont-padding">
		<div class="row">
			<div class="col-md-12">
				<div class="page-content">
					{{#each photogr}}

					<a class="fancybox" rel="group" href="/photos/{{filename}}">
						<div class="photo-item " style="background: url('/photos/{{filename}}');background-size: cover"  data-id="{{_id}}"></div>
					</a>

					{{/each}}
				</div>
			</div>
		</div>

	</div>
</div>




<script>



</script>