<div id="content-wrapper" class="site-content">
	<div class="page-title-cont container-fluid" data-effect="parallax">
		<div class="row">
			<div class="page-header">
				<div class="background-image" id="background-image-101"></div>
				<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-12 display-table">
							<div class="title-wrapper fadeIn">
								<h1>
									{{meta_title}}
								</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container cont-padding">
		<div class="row">
			<div class="col-md-12">
				<div class="page-content">


						<div class="vc_row wpb_row vc_row-fluid ult-vc-hide-row" style="position: relative;" data-rtl="false" data-row-effect-mobile-disable="true"><div class="upb_row_bg" data-bg-override="full" style="min-width: 1663px; left: -246.5px; width: 1663px;"></div>

							{{#each products}}


							<div class="wpb_column vc_column_container vc_col-sm-4">
								<div class="wpb_wrapper">
									<div class="ult-new-ib ult-ib-effect-style13 ult-ib-resp " data-min-width="768" data-max-width="900" style="background:#070707;" data-opacity="0.7" data-hover-opacity="0.3">
										<img class="ult-new-ib-img" style="opacity: 0.7;" alt="" src="../photos/photo-1477919607524.jpeg">
										<div class="ult-new-ib-desc" style="">
											<h2 class="ult-new-ib-title" style="font-weight:700;color:#ffffff;font-size: 18px">{{title}}</h2>
											<div class="ult-new-ib-content" style="; font-weight: normal; font-style: normal; color: rgb(255, 255, 255);">
												<p>{{description}}</p>
											</div>
										</div>
										<a class="ult-new-ib-link"></a>
									</div>
								</div>
							</div>


							{{/each}}


						</div>


				</div>
			</div>
		</div>

	</div>
</div>




<script>



</script>